
extends base 
block append content
    .ui.grid 
        .three.wide.column
        .ten.wide.column
            .two.fluid.ui.buttons
                a.ui.button.green.circular(href='demo.html') Browser Demo 
                .or
                .ui.button.red.circular Clone on github 

    .first-page-vertically-down
    .ui.segment.raised
        #main-content

        script(src="http://code.jquery.com/jquery-1.10.1.min.js"                     , type="text/javascript")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js" , type="text/javascript")
        script(src="js/opentip-jquery.js"                                            , type="text/javascript")
        script(src="js/entry.js"                                                     , type="text/javascript")
